@model PhotoFormModel


<div class="container-form">

    <h2>Crea una nuova Foto</h2>

    <div>
        <form method="post" asp-asp-controller="Photo" asp-action="Create" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div>
                <label asp-for="Photo.Title">Nome</label>
                <input asp-for="Photo.Title" />
                <span asp-validation-for="Photo.Title"></span>
            </div>
            <div>
                <label asp-for="Photo.Description">Descrizione</label>
                <input asp-for="Photo.Description" />
                <span asp-validation-for="Photo.Description"></span>
            </div>
            <div>
                <label asp-for="Photo.ImageUrl">Foto</label>
                <input asp-for="Photo.ImageUrl" />
                <span asp-validation-for="Photo.ImageUrl"></span>
            </div>
            <div class="form-field">
                <span><label asp-for="Photo.Visible">Visible</label><span class="ps-2"><input type="checkbox" asp-for="Photo.Visible" /></span></span>
            </div>
            <div>
                <label asp-for="SelectedCategories">Categorie</label>
                <select asp-for="SelectedCategories" multiple="multiple" asp-items="@Model.Categories"></select>
            </div>
            <button type="submit">Crea ora!</button>
        </form>
    </div>

</div>
