@{
    ViewData["Title"] = "Home Page";

    //var Photos = new Photo[]
    //{
    //    new Photo
    //    {
    //        Title = "Foto tramonto",
    //        Description = "Che bel tramonto",
    //        ImageUrl = "https://picsum.photos/200/300",
    //        Visible = true,
    //    },
    //    new Photo
    //    {
    //        Title = "Foto alba",
    //        Description = "Che bell'alba",
    //        ImageUrl = "https://picsum.photos/200/300",
    //        Visible = true,
    //    },
    //    new Photo
    //    {
    //        Title = "Foto mezzoggiorno",
    //        Description = "Che bel mezzoggiorno",
    //        ImageUrl = "https://picsum.photos/200/300",
    //        Visible = true,
    //    },
    //};
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Visible</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    @*<tbody>
        @foreach(var photo in Photos)
    </tbody>*@
</table>